<div>
    <p>
Networks in their surroundings - actors that exist outside the nodes and 
edges of a network, but which nonetheless affect how the network’s structure 
evolves.
Each individual in a social network has a distinctive set of personal 
characteristics, and similarities and compatibilities among two people’s 
characteristics can strongly influence whether a link form between them. 
Each individual also engages in a set of behaviours and activities that 
can shape the formation of links within the network.
</p>
<a routerLink="/" (click) = "takeMeHome()"><strong>Home</strong></a>
</div>
<ul>
    <li *ngFor = "let goal of goals">
        {{ goal }}
    </li>
</ul>